 .loader{
    display: block;
    margin: 0 auto;
    border-color: red;
   

 }

 #button{
   position:absolute;
    height: 30px;
    width: 310px;
    border: 3px solid blue;
    margin-top: 600px;
    margin-left: 550px;
 }
