 .loader{
    display: block;
    margin: 0 auto;
    border-color: red;
   

 }

 .spinnerHolder{
   position: absolute !important;
   top:0;
   height: 100vh;
   width: 100%;
   display: flex;
   align-items:  center !important;
 }

 #button{
    position:absolute !important;
    height: 30px;
    width: 310px;
    z-index: 5000;
    background-color: transparent !important;
 }
