html,
body,
#root,
#root div:only-child,
.gantt-container {
  height: 100%;
}

#editIcon {
  cursor: pointer;
  margin-top: 6px;
}

#deleteIcon {
  width: 30px;
  height: 30px;
  fill: firebrick;
  margin-top: 1px;
  cursor: pointer;
}

#plusIconHeader {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  fill: #299bc4;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

#plusIconRow {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  fill: #299bc4;
  cursor: pointer;
}

#formCont {
  width: 100%;
  height: 100%;
  position: absolute;
}

#formCont div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#cohortForm {
  width: 500px;
  height: 600px;
  background-color: aliceblue;
  position: relative;
  z-index: 10;
  flex-direction: column;
}

.courseForm {
  width: 700px;
  height:auto;
  background-color: skyblue;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.courseContainer {
  width: 500px;
  height: auto;
  background-color: lightcoral;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label-1 {
  margin: 5px;
  width: 150px;
  padding: 0;
  margin-right: 0;
  margin-left: 60px;
}

.label-2 {
  margin: 5px;
  width: 150px;
  margin-left: 60px;
}

.text-input {
  margin: 7px;
  margin-right: 40px;
}

.select-input {
  margin: 7px;
  margin-right: 40px;
}

.last-input {
  margin: 7px;
  margin-right: 40px;
}

#submit {
  position: relative;
  z-index: 10;
  justify-content: end;
  width: 5rem;
  margin-top: 35rem;
  margin-left: 19rem;
}
