@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

html,
body,
#root,
#root div:only-child,
.gantt-container {
  /* position: relative !important;
  z-index: -1 !important; */
  max-height: 100%;
  color: #0e0d12;
  font-size: 14px;
  border-color: #ebebeb;
  font-family: "Lexend Deca", sans-serif;
  background-color: #eceeff;
}

.gantt_layout_cell {
  position: relative;
  z-index: 1 !important;
}

.logo-name-cont {
  background-color: transparent !important;
}

#gantt-chart-container {
  padding-top: 79px;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  max-height: 100%;
}

.nested_task #plusIconRow {
  display: none;
}

#editIcon {
  cursor: pointer;
  margin-top: 6px;
}

#deleteIcon {
  width: 30px;
  height: 30px;
  fill: firebrick;
  margin-top: 1px;
  cursor: pointer;
}

#plusIconHeader {
  width: 22px;
  height: 22px;
  margin-top: 12px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

#viewIcon {
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 7px;
  cursor: pointer;
}

#plusIconRow {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  fill: #299bc4;
  cursor: pointer;
}

#formCont {
  width: 100%;
  position: absolute;
}

.formCont div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gantt_task {
  position: absolute !important;
  z-index: 10 !important;
}

.gantt_row,
.gantt_row.odd {
  background: #eceeff;
  color: #f5f5f5;
}

.gantt_tree_content {
  color: #0e0d12;
  font-size: 14px;
}

.gantt_tree_icon.gantt_file {
  fill: #0e0d12;
  color: #0e0d12;
}

.gantt_tree_icon.gantt_folder_open {
  fill: #0e0d12;
}

.gantt_scale_cell {
  background-color: #eceeff;
  color: #0e0d12 !important;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

.gantt_task_row,
.gantt_task_row.odd {
  background: #eceeff;
  border: 1px solid lightgrey;
  margin: 0px;
}

.gantt_grid_head_cell {
  background-color: #eceeff;
  border: 1px solid #cecece;
  color: #0e0d12 !important;
}

.gantt_task_cell {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.gantt_task_content {
  background-color: #02520d;
  border-radius: 5px;
  border-color: transparent;
  font-size: 16px;
  z-index: 10;
}

.gantt_task_progress_wrapper {
  background-color: transparent;
}

.gantt_task_line.gantt_bar_task {
  background-color: transparent;
  border: transparent;
}

.gantt_ver_scroll {
  top: 0px !important;
}

#plusIconRow {
  fill: #079043;
}

#plusIconHeader {
  fill: #079043;
}

.gantt_data_area {
  background-color: #eceeff;
  overflow: visible;
  top: 22px;
}

.gantt_grid_data {
  background-color: #eceeff;
  top: 22px;
}

.gantt_task, .gantt_grid {
  margin-bottom: 22px;
  background-color: #ccc8db !important;
}

.nested_bar .gantt_task_content {
  background-color: #079043;
}

.gantt_link_point,
.gantt_task_progress_drag {
  display: none !important;
}

.gantt_marker_content {
  color: #fff !important;
  font-size: 12px !important;
  top: -22px;
}

.today .gantt_marker_content {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

.holiday .gantt_marker_content {
  background-color: rgb(2, 76, 141) !important;
}

.gantt_marker.holiday {
  background-color: rgba(2, 76, 141, 0.479) !important;
}

#zoomIn {
  position: relative;
  z-index: 100;
  display: flex;
  background-color: #eceeff;
  color: #0e0d12;
  border: 1px solid #eceeff;
  width: 75px;
  height: 30px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lexend Deca", sans-serif;
}

#zoomOut {
  position: relative;
  z-index: 100;
  display: flex;
  background-color: #eceeff;
  color: #0e0d12;
  border: 1px solid #eceeff;
  width: 75px;
  height: 30px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Lexend Deca", sans-serif;
}

#zoomController {
  padding-left: 10px;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 20px;
  right: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* .gantt_task_content { */
/* background-color: #727597; */
/* } */

#addHoliday,
#deleteHoliday {
  z-index: 100;
}

.first_course .gantt_task_content {
  background-color: blue;
}

.second_course .gantt_task_content {
  background-color: red;
}

.third_course .gantt_task_content {
  background-color: purple;
}

.fourth_course .gantt_task_content {
  background-color: red;
}

.fifth_course .gantt_task_content {
  background-color: pink;
}

#holidayDeleteCont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.HolidayDelete {
  background-color: #eceeff;
  position: relative;
  border-radius: 10px;
  font-family: "Lexend Deca", sans-serif;
  width: 465px;
  height: 226px;
  margin-top: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eceeff;
  border-radius: 10px;
  position: absolute;
  z-index: 101;
  top: 0;
  text-align: center;
  box-shadow: 5px 5px 15px;
}

.deleteButtonsCont div {
  height: 43px;
  width: 150px;
}

#deleteHolidayButtonsCont {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#exit-holiday-delete {
  margin-left: 5px;
  margin-top: 5px;
}
