@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

html,
body,
#root,
#root div:only-child,
.gantt-container {
  height: 100%;
  color: #2f2f2f;
}

#gantt-chart-container {
  padding-top: 50px;
}

.nested_task #plusIconRow {
  display: none;
}

#editIcon {
  cursor: pointer;
  margin-top: 6px;
}

#deleteIcon {
  width: 30px;
  height: 30px;
  fill: firebrick;
  margin-top: 1px;
  cursor: pointer;
}

#plusIconHeader {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  fill: #299bc4;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

#viewIcon {
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 7px;
  cursor: pointer;
}

#plusIconRow {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  fill: #299bc4;
  cursor: pointer;
}

#formCont {
  width: 100%;
  height: 100%;
  position: absolute;
}

#formCont div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* ******CourseForm Styles***** */
.courseForm {
  font-family: "Lexend Deca", sans-serif;
  width: 1000px;
  height: 600px;
  background-color: #eceeff;
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px;
}

.info {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  padding: 0;
}

.label {
  width: 30%;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  align-self: center;
}

.input {
  height: 25px;
  width: 40%;
  background-color: #079043;
  opacity: 60%;
  border-color: transparent;
  border-radius: 5px;
  padding-left: 10px;
  padding: 5px;
  color: #eceeff;
  align-self: center;
}

.submit {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  z-index: 10;
  padding: 10px;
  width: 330px;
  margin-top: 40px;
  margin-bottom: 45px;
  align-self: center;
  border-radius: 5px;
  border-color: transparent;
  font-size: 15px;
  background-color: #079043;
  font-weight: 800;
  color: #eceeff;
}

.group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.group-container {
  display: flex;
  flex-direction: row;
}
/* ******CourseForm Styles End***** */

/* *****CohortForm Styles***** */
.cohortForm {
  box-shadow: 5px 5px 15px;
  font-family: "Lexend Deca", sans-serif;
  width: 480px;
  height: 280px;
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eceeff;
  border-radius: 10px;
  position: absolute;
  z-index: 101;
  padding-top: 10px;
  top: 0;
}

.info {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  padding: 0;
}

.label {
  width: 30%;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  align-self: center;
}

.input {
  height: 25px;
  width: 40%;
  background-color: #079043;
  opacity: 60%;
  border-color: transparent;
  border-radius: 5px;
  padding-left: 10px;
  padding: 5px;
  color: #eceeff;
  align-self: center;
}

.submit {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  z-index: 10;
  padding: 10px;
  width: 330px;
  margin-top: 30px;
  margin-bottom: 25px;
  align-self: center;
  border-radius: 5px;
  border-color: transparent;
  font-size: 15px;
  background-color: #079043;
  font-weight: 800;
  color: #eceeff;
  cursor: pointer;
}
/* *****CohortForm Styles End***** */

/*-----Confirm Delete Modal-----*/

#confirmDeleteModal {
  position: absolute;
  margin: 0;
  height: 200px;
  width: 200px;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#confirmDeleteModal div {
  display: flex;
  flex-direction: row;
}
::placeholder {
  color: #eceeff;
}
/* *****CohortForm Styles End***** */

.exit-button {
  height: auto;
  width: 35px;
  margin-top: 10px;
  margin-left: 15px;
  fill: firebrick;
  z-index: 102;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.gantt_row,
.gantt_row.odd {
  background: #eceeff;
  color: #f5f5f5;
}

.gantt_tree_content {
  color: black;
}

.gantt_tree_icon.gantt_file {
  fill: #2f2f2f;
  color: #2f2f2f;
}

.gantt_tree_icon.gantt_folder_open {
  fill: #2f2f2f;
}

.gantt_scale_cell {
  background-color: #eceeff;
  color: #2f2f2f !important;
  border: 1px solid #2f2f2f;
}

.gantt_task_row,
.gantt_task_row.odd {
  background: #eceeff;
  border: 1px solid lightgrey;
  margin: 0px;
}

.gantt_grid_head_cell {
  background-color: #eceeff;
  border: 1px solid #2f2f2f;
  color: #2f2f2f !important;
}

.gantt_task_cell {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.gantt_task_content {
  background-color: #079043;
  border-radius: 5px;
  border-color: transparent;
}

.gantt_task_progress_wrapper {
  background-color: transparent;
}

.gantt_task_line.gantt_bar_task {
  background-color: transparent;
  border: transparent;
}

#plusIconRow {
  fill: #079043;
}

#plusIconHeader {
  fill: #079043;
}

.gantt_data_area {
  background-color: #eceeff;
}

.gantt_grid_data {
  background-color: #eceeff;
}
