@import url("https://fonts.googleapis.com/css2?family=Podkova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

/* ****** Cohort Display ***** */
.cohort-info{
  display: flex;
  flex-direction: column;
  margin-left: 125px;
}

.display-label {
  font-size: 15px;
  padding-left: 15px;
  margin-top: -15px;
  align-self: center;
}

.cohortForm-display {
  font-family: "Lexend Deca", sans-serif;
  margin: 15px;
  padding: 10px;
  background-color: #eceeff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  position: absolute;
  top: 0;
  z-index: 101;
  box-shadow: 5px 5px 15px;
  margin: 50px;
}

.display-info {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.input-display {
  margin-left: -80px;
  align-self: center;
}

/* ****** Course Display ***** */
.courseForm-display {
  font-family: "Lexend Deca", sans-serif;
  width: 1000px;
  height:600px;
  background-color: #eceeff;
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 20px;
  top: 0;
  box-shadow: 5px 5px 20px;
}


.display-info {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  padding: 0;   

}

.group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.group-container {
  display: flex;
  flex-direction: row;
}

.display-label {
  width: 30%;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  align-self: center;
}

.display-input {
  height: 25px;
  width: 40% !important;
  padding-left: 10px;
  padding: 5px;
  align-self:center;
}

.edit-button {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  z-index: 10;
  padding: 10px;
  width: 330px;
  margin-top: 30px;
  margin-bottom: 25px;
  align-self: center;
  border-radius: 5px;
  border-color: transparent;
  font-size: 15px;
  background-color: #079043;
  font-weight: 800;
  color: #eceeff;
  cursor: pointer;
}

.exit {
  height: auto;
  width: 35px;
  margin-left: 10px;
  fill:firebrick;
}

/* ***** Cohort Edit ***** */
.cohortEdit {
  font-family: "Lexend Deca", sans-serif;
  width: 480px;
  height: 280px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #eceeff;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  box-shadow: 5px 5px 15px;
  top: 0;
  margin: 50px;
}

.minor-title{
  font-size: 35px;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.edit-info{
  margin-top: 10px;
}

.edit-exit{
  height: 35px;
  fill: firebrick;
  position: absolute;
  margin-right: 26rem;
  margin-top: 5px;
}

.edit-danger {
  align-self: center;
}

/* ***** Course Edit ***** */

.courseEdit{
  font-family: "Lexend Deca", sans-serif;
  width: 1000px;
  height: 600px;
  background-color: #eceeff;
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px ;
  position: absolute;
  top: 0;
}

/* ******CourseForm Styles***** */
.courseForm {
  font-family: "Lexend Deca", sans-serif;
  width: 1000px;
  height: 600px;
  background-color: rgb(236, 238, 255);
  position: absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px;
}

.info {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  padding: 0;
}

.label {
  width: 30%;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  align-self: center;
}

.input {
  height: 25px;
  width: 40%;
  background-color: #079043;
  opacity: 60%;
  border-color: transparent;
  border-radius: 5px;
  padding-left: 10px;
  padding: 5px;
  color: #eceeff;
  align-self: center;
}

.submit {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  z-index: 10;
  padding: 10px;
  width: 330px;
  margin-top: 40px;
  margin-bottom: 45px;
  align-self: center;
  border-radius: 5px;
  border-color: transparent;
  font-size: 15px;
  background-color: #079043;
  font-weight: 800;
  color: #eceeff;
}

.group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.group-container {
  display: flex;
  flex-direction: row;
}
/* ******CourseForm Styles End***** */

/* *****CohortForm Styles***** */
.cohortForm {
  box-shadow: 5px 5px 15px;
  font-family: "Lexend Deca", sans-serif;
  width: 480px;
  height: 280px;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eceeff;
  border-radius: 10px;
  position: absolute;
  z-index: 101;
  padding-top: 10px;
  top: 0;
}

.info {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  padding: 0;
}

.label {
  width: 30%;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  align-self: center;
}

.input {
  height: 25px;
  width: 40%;
  background-color: #079043;
  opacity: 60%;
  border-color: transparent;
  border-radius: 5px;
  padding-left: 10px;
  padding: 5px;
  color: #eceeff;
  align-self: center;
}

.submit {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  z-index: 10;
  padding: 10px;
  width: 330px;
  margin-top: 30px;
  margin-bottom: 25px;
  align-self: center;
  border-radius: 5px;
  border-color: transparent;
  font-size: 15px;
  background-color: #079043;
  font-weight: 800;
  color: #eceeff;
  cursor: pointer;
}
/* *****CohortForm Styles End***** */

::placeholder {
  color: #eceeff;
}
/* *****Confirm Delete Modal START***** */
.confirmDelete {
  font-family: "Lexend Deca", sans-serif;
  width: 465px;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #eceeff;
  border-radius: 10px;
  position: absolute;
  z-index: 101;
  position: absolute;
  top: 0;

  text-align: center;
  box-shadow: 5px 5px 15px;
}

.deleteQuestionText {
  font-size: 32px;
  align-self: center;
}

#deleteButtonsCont {
  display: flex;
  justify-content: space-around;
}

.deleteYesNoButtons {
  width: 150px;
}

/* Confirm Delete Modal End */

.exit-button {
  height: auto;
  width: 35px;
  margin-top: 10px;
  margin-left: 15px;
  fill: firebrick;
  z-index: 102;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}