@import url("https://fonts.googleapis.com/css2?family=Podkova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

/* ****** Cohort Display ***** */
.display-label {
  font-size: 15px;
  text-align: right;
  padding-left: 15px;
  margin-top: -15px;
}

.cohortForm-display {
  font-family: "Lexend Deca", sans-serif;
  padding-top: 10px;
  background-color: #eceeff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 480px;
}

.display-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.input-display {
  margin-left: 15px;
}

.edit {
  border-color: transparent;
  border-radius: 5px;
  background-color: #079043;
  color: #eceeff;
  width: 65%;
  height: 40px;
  align-self: center;
  margin-top: 40px;
  font-size: 15px;
}

/* ****** Course Display ***** */
.courseForm-display {
  font-family: "Lexend Deca", sans-serif;
  width: 950px;
  height: 450px;
  background-color: #eceeff;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.display-info {
  width: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  padding: 0;
  align-items: center;
  margin-left: 70px;
}

.group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.group-container {
  display: flex;
  flex-direction: row;
}

.display-label {
  width: 160px;
  font-size: 15px;
  font-weight: 800;
  text-align: left;
  align-self: end;
  margin-right: 40px;
}

.display-input {
  margin-right: 70px;
  align-self: center;
}

.edit-button {
  border-color: transparent;
  border-radius: 5px;
  background-color: #079043;
  color: #eceeff;
  width: 65%;
  height: 40px;
  align-self: center;
  margin-top: 40px;
  font-size: 15px;
  margin-top: 40px;
}

.exit {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  fill: firebrick;
}
