@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
#root{
  height:100vh;
}

.login-window-container{
  background-color: #ECEEFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h1{
  font-family: 'Podkova', serif;
  font-size:50px;
  font-weight: 100;
  margin-bottom:50px;
}

p{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.login-form{
  height:500px;
  width:1500px;
  margin-top:100px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  display: flex;
  flex-direction: column;
  
}
.input-group
.email{
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 5px;
  border-color: transparent;
  background-color: #079043;
  opacity: 60%;
  padding: 15px;
  height: 50px;
  width:100%;
  margin:0;
}

.password{
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 5px;
  border-color: transparent;
  background-color: #079043;
  opacity: 60%;
  margin-top: 10px;
  padding: 15px;
  height: 50px;
  width: 500px !important;
}

#inputID1::placeholder {
  color: white;
  opacity: 100%;
}

#inputID2::placeholder {
  color: white;
  opacity: 100%;
}

.login{
  font-family: 'Lexend Deca', sans-serif;
  background-color: #079043;
  border-color: transparent;
  border-radius: 10px;
  color:#ECEEFF;
  width: 500px;
  height:40px;
  margin-top:50px;
}

.vector{
  width: 100%;
  margin-top:32px;
  margin-bottom:-20px;
}

.input-group{
  width: 500px;
  display: flex;
  justify-content: space-between;
}