.nav-bar {
  height: 50px;
  width: 100%;
  background-color: #3c4a3e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: absolute;
  z-index: 100;
}

.nav-link {
  font-family: "Lexend Deca", sans-serif;
  background-color: #eceeff;
  border-color: transparent;
  border-radius: 10px;
  color: #079043;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #079043;
  padding: 10px 12px;
}

.name-tag{
  margin-top: 20px;
}