@import url("https://fonts.googleapis.com/css2?family=Podkova&display=swap");

.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #3c4a3e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: absolute;
  z-index: 100;
}

.nav-link {
  font-family: "Lexend Deca", sans-serif;
  background-color: #eceeff;
  border-color: transparent;
  color:#3C4A3E;
  width: 100px;
  height: 35px;
  cursor: pointer;
  margin-right: -150px;
  border-radius: 5px;
  border: 0px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.link {
  text-decoration: none;
  color: #3C4A3E;
  font-size: 15px;
}

.logo {
  z-index: 1000;
  height: auto;
  width: 50px;
  margin-left: -150px;
  margin-bottom: 5px;
}

.name {
  font-family: "Podkova", serif;
  font-weight: 400;
  font-size: 25px;
  margin-left: -300px;
  margin-right: -200px;
}
.name-tag {
  align-self: center;
  margin-right: 400px;
  margin-top: 30px;
}
