@import url("https://fonts.googleapis.com/css2?family=Podkova&display=swap");

.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #3c4a3e;
  /* background-color: #727597; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: absolute;
  z-index: 100;
  padding-right: 20px;
}

.left-half-nav{
  display: flex;
  justify-content: space-between;
  width: 50%
}

.logo-name-cont{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo{
  margin-right: 10px;
  z-index: 1000;
  height: auto;
  width: 70px;
  margin-bottom: 5px;
}

.names-cont{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.name, .name-tag{
  color: #eceeff;
  text-align: left;

}
.name {
  font-family: "Podkova", serif;
  font-weight: 400;
  font-size: 35px;
}
.name-tag {
  margin-bottom: 0;
  padding-left: 5px;
}

.nav-link {
  font-family: "Lexend Deca", sans-serif;
  background-color: #eceeff;
  border-color: transparent;
  color:#3C4A3E;
  width: 100px;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.link {
  text-decoration: none;
  color: #3C4A3E;
  font-size: 15px;
}




